$main-color: #101010;
$background-color: #e7e7e7;

$main-color2 : #de153d;
$border-color: #c7c7c7;
$main-color3 : #bcbcbc; //gray
$main-color4: #E5E5E5; //light gray
$main-color5: #1B1B1B; //like main-color, but more light
$main-color6: #353535;


$min-site-width: 512px;
$brick-width: 256px;
$max-width: 1300px;

$shadow: 1px 1px 2px 0px rgba(50,50,50,0.75);

$gutterWidth: 30px;
$columns: 12;
